*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    padding: 2rem;
    font-family:Tahoma;
}
label{
    display: block;
    margin-bottom: 2rem;
}
label span{
    display: block;
    margin-bottom: 0.5rem;
}

label input{
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 0.2rem;
}